[submodule "source/styles/ekzo.sass"]
	path = source/styles/ekzo.sass
	url = https://github.com/ArmorDarks/ekzo.sass.git
[submodule "source/images"]
	path = source/images
	url = https://github.com/ArmorDarks/ninel-dental-images.git
